.header {
  text-align: center;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  margin-top: 1rem;
  text-align: center;
}

.column {
  flex: 0;
}

.sgpa {
  margin: 1rem;
}

.table-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.table-container div {
  margin: 1rem;
}
